useDynLib(phynd, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(methods, hasMethod)
importFrom(stats, rnorm)
importFrom(utils, getS3method)
export(fast_phy_denoise)
export(compute_wNN_diff_energy)
export(extract_caa_oneshot)
export(benchmark_fast_phy_denoise)
export(compcor_denoise)
export(compute_design_free_qc)
export(write_qc_artifact)
